{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>Home</title>
  
</head>
<body>
    
    <div class="topbg">
            
    </div>
    <div class="navbar">
        <div class="logo">
            <a href="/"><img src="{% static 'images/poto.png' %}" alt="logo"></a>
        </div>
        <div class="navbaritems">
            <a href="#"><i></i><span>About</span></a>
            <a href="https://mohdmarzook.pythonanywhere.com/"><i></i><span>My Page</span></a>
        </div>
    </div>
    
    <div class="searchbox">
        <form class="" action="" id="mainform" method="post">
            {% csrf_token %}
            <label for="amount">Enter the Name or Subject related topic</label><br>
            <input type="text" name="currencytoconvert" id="currency-to-convert" autocomplete="off">
           
        </form>
    </div>
    <div class="middlesection">
        <div class="middleleft">

        </div>
        <div class="middlepart" >
            
                {% for i,j in list %}
                    <div class="items">
                        <a href="{{ j }}">{{ i }}</a>
                        <img src="{% static 'images/poto.png' %}" alt="cover img">
                    </div>
                {% endfor %}
            
        </div>
        <div class="middleright">

        </div>

   

    
    </div>
    
</body>
</html>